<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! <title>Tech Blog</title> }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title> A Tech Blog</title>
  </head>

  <body class="flex-column">
    {{! <h3 class="has-text-weight-bold px-4 py-4">A Tech Blog</h3> }}
    <nav class="navbar">
      {{!-- {{#if loggedIn}} --}}
      <ul>
        <li class="li-inline nav-item"><a href="/"> Home</a></li>
        <li class="li-inline nav-item"><a href="/dashboard">
            Dashboard</a></li>
        <li class="li-inline nav-item"><a href="/signup"> Sign Up</a></li>
        <li class="li-inline nav-item"><a href="/login"> Login</a></li>
        <li class="li-inline nav-item"><a href="#" id="logout-link">
            Logout</a></li>
      </ul>
      {{!-- {{/if}} --}}
    </nav>

    {{#if loggedIn}}
      <a href="/views/login.handlebars"></a>
    {{else}}
      <a href="/views/create.handlebars"></a>
    {{/if}}

    <main>
      {{{body}}}
    </main>

    <footer class="flex-row justify-center">
      &copy; Tech Blog
    </footer>

  </body>

</html>