<section>
<a href="/dashboard" class="is-pulled-right"> Back to dashboard </a>
  <h3 class="title">Create New Post</h3>
  <hr>
  <form class="card-body" id="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="form-input" id="post-title" type="text" />
    </div>

    <div>
      <label for="post-content">Post Content:</label>
      <input class="textarea is-medium" id="post-content" type="text" />
    </div>
    <button class="button is-primary" type="submit">Create New Post</button>
  </form>
</div>
</section>

<script src="/js/create.js"></script>