<div>
  <h2>Create New Post: </h2>
  <div>
    <label for="title">Title: </label>
    <input name="title" type="text" placeholder="title" id="title-field" />
  </div>
  <div>
    <label for="post_content">Post Content: </label>
    <input
      name="post_content"
      type="text"
      placeholder="content"
      id="content-field"
    />
  </div>
  <button id="submit-btn">Create Post</button>
</div>

<script src="/js/create.js"></script>