<div>
  <h2>Login: </h2>
  <div>
    <label for="username">Enter Username: </label>
    <input
      name="username"
      type="text"
      placeholder="username"
      id="username-field"
    />
  </div>
  <div>
    <label for="password">Enter Password: </label>
    <input
      name="password"
      type="text"
      placeholder="password"
      id="password-field"
    />
  </div>
  <button id="login-btn">Login</button>
</div>

<script src="/js/login.js"></script>