<h3 id="login-text"> Login Below: </h3>
<div class="login-form-box">
  <form class="form-horizontal">
    <div class="form-group">
      <label
        for="inputEmail"
        class="column is-one-fifth control-label"
      >Username</label>
      <div class="column is-one-fifth">
        <input
          type="input"
          class="form-control"
          id="username-login"
          placeholder="Username"
        />
      </div>
    </div>
    <div class="form-group">
      <label
        for="inputPassword"
        class="column is-one-fifth control-label"
      >Password</label>
      <div class="column is-one-fifth">
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="column is-half">
      </div>
    </div>
    <div class="form-group">
      <div class="column is-half">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </form>
</div>

{{#if loggedIn}}
  <a href="/views/create.handlebars"></a>
{{/if}}

<script src="/js/login.js"></script>