<h3 id="signup-text">Create a Profile Below:</h3>
<div class="signup-form-box">
  <form class="form-horizontal">
      <div class="form-group">
        <label for="inputUsername" class="column is-one-fifth control-label">Username</label>
        <div class="column is-one-fifth">
          <input type="input" class="form-control" id="username-signup" placeholder="Create username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="column is-one-fifth control-label"> Email</label>
        <div class="column is-one-fifth">
          <input type="input" class="form-control" id="email-signup" placeholder="Enter email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputgithub" class="column is-one-fifth control-label">Github</label>
        <div class="column is-one-fifth">
          <input type="input" class="form-control" id="github-signup" placeholder="Enter Github ID">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="column is-one-fifth control-label">Password</label>
        <div class="column is-one-fifth">
          <input type="password" class="form-control" id="password-signup" placeholder="Create password">
        </div>
      </div>
      <div class="form-group">
        <div class="column is-half">
        </div>
      </div>
      <div class="form-group">
        <div class="column is-half">
          <button type="submit" class="btn btn-default">Sign up</button>
        </div>
      </div>
    </div>
    </form> 

<script src="/js/signup.js"></script>