<div class="column">
  <h3 class="card-header">Sign Up Now!</h3>
  <form class="card-body" id="signup-form">
    <div>
      <label class="form-label" for="email-signup"> Email: </label>
      <input class="form-input" id="email-signup" type="text" />
    </div>

    <div>
      <label class="form-label" for="username-signup"> Username: </label>
      <input class="form-input" id="username-signup" type="text" />
    </div>

    <div>
      <label class="form-label" for="password-signup"> Password: </label>
      <input class="form-input" id="password-signup" type="text" />
    </div>

    <div>
      <label class="form-label" for="github-signup"> Github: </label>
      <input class="form-input" id="github-signup" type="text" />
    </div>

    <div>
      <button class="button is-primary" type="submit">Sign Up</button>
    </div>

  </form>
</div>

<script src="/public/js/signup.js"></script>