{{>post-box this}}

<div id="post_id" data-post-id="{{payload.posts.[0].id}}">
  {{#if payload.session.loggedin}}
      <p>Leave a Comment</p>
      <textarea name="comment-body" type="text" placeholder="Type Comment Here..." id="content-field"></textarea>
      <button id="comment-btn">Post</button>
  {{else}}
      <p>Please create an account or login to leave a comment</p>
  {{/if}}

  <div>
      <p>Comments : </p>
      <div class="comment-container">
          {{>comment-box this}}
      </div>
  </div>
</div>

<script src="/js/comment.js"></script>